@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$white1: rgb(238, 238, 238);
$blue1: rgb(49, 114, 255);
$black1: #222222;
$black2: rgba(0, 0, 0, 0.548);
$purple1: #5d4bea;
$colorPrimary: #2cd889;
$colorPrimaryDark: #001064;
$colorPrimaryLight: #5f5fc4;
$colorAccent: #ff1744;

html,
body {
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

div {
  z-index: 1;
}
.top1 {
  padding: 20px;
  font-size: 140%;
  font-weight: bold;
  padding-left: 40px;
  color: #646d82;
}
.top2 {
  color: $colorPrimary;
  text-align: center;
}
.top2 p {
  margin-left: 20px;
}

.icon {
  min-width: 40%;
  max-width: 50%;
  width: 50%;
}

.icon2 {
  min-width: 30px;
  max-width: 30px;
  vertical-align: middle;
}
.middle1 {
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 300px;
  padding-right: 4px;
  border-right: $blue1 1px solid;
  border: 1px solid black;
  padding: 20px;
}
.button2 {
  color: $colorPrimary;
}
.middle1 .buttons {
  display: grid;
  grid-template-columns: 2fr 1fr;

  margin-bottom: 0;
}
.middle1 #uploadbtn {
  text-align: right;
}
.input {
  background: none;
  border: none;
  outline: none;
  border: 2px solid #08080828;
  border-bottom: 2px solid $colorPrimary;

  backdrop-filter: blur(10px);

  padding: 10px;
  padding-left: 15px;
  transition: all 200ms;

  width: 100%;
}

.folder {
  margin-bottom: 10px;
  transition: all 100ms;
  padding: 10px;
}
.folder:hover {
  color: white;
  background: $purple1;

  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.466);
}
.middle1head {
  margin: 0;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  border-bottom: $blue1 1px solid;
}
.topbtns {
  margin: auto;
}

.gridbtns {
  margin: auto;
}
.gridbtns span {
  font-size: 90%;
}
.gridbtns .button {
  width: 45px !important;
}

.gridbtns .button:nth-child(7) {
  width: 70px !important;
}
.functionbtns .button {
  width: 100px;
  height: 40px;
  font-size: 95%;
}

.button {
  color: $purple1;
  color: $white1;
  transition: all 200ms;
  background: white;
  height: 40px;
  border-radius: 4px;
  margin: 4px !important;
  background-color: $blue1;
  border: 2px solid white;
}
.button:hover {
  background: white;
  color: $white1;
  border: 2px solid $blue1;
  color: $blue1;
}
.button:active {
  background-color: $blue1;
  border: 2px solid white;
  opacity: 0.7;
}
.button:focus {
  outline: none;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.folders {
  border: 2px solid rgba(69, 113, 255, 0.281);
  display: grid;
  font-size: 90%;
}

.folders1 {
  grid-template-columns: 1fr;
}
.folders2 {
  grid-template-columns: 1fr 1fr;
}
.folders3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.folders4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.folders5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ba {
  transition: all 200ms;
  position: relative;
  right: 0;
  top: 0;
  padding: 10px;
  min-width: 10px;
}
.ba:hover {
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.548);
  background: rgba(128, 0, 128, 0.664);
  color: white;
  right: 4px;
  top: 4px;
}
.ba img {
  opacity: 0.8;
  transition: 200ms all;
}
.ba:hover img {
  opacity: 1;
}
.ba .ba_new {
  background: black;
}

.functionbtns {
  margin: auto;
}
@media (max-width: 4000px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 2000px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1800px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1600px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1400px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .topbtns {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .foldersall {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .middle {
    grid-template-columns: 1fr;
  }
  .middle1 {
    display: none;
  }
  .button {
    margin-top: 8px !important;
    margin-bottom: 4px !important;
  }
  .top2 {
    grid-template-columns: 1fr;
  }
  .top2 p {
    margin: 4px;
    margin-bottom: 6px;
  }

  .gridbtns .button:nth-child(7) {
    display: none;
  }
  .gridbtns {
    margin-left: 10px;
  }
}

@media (max-width: 400px) {
  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .foldersall {
    grid-template-columns: 1fr 1fr;
  }
  .button:nth-child(5) {
    display: none;
  }
  .button:nth-child(6) {
    display: none;
  }
}

@media (max-width: 300px) {
  .foldersall {
    grid-template-columns: 1fr 1fr;
  }
  .middle {
    grid-template-columns: 1fr;
  }
  .topbtns {
    grid-template-columns: 1fr;
  }

  .button:nth-child(4) {
    display: none;
  }
  .gridbtns {
    margin-left: 4px;
  }
}
@media (max-width: 200px) {
  .foldersall {
    grid-template-columns: 1fr;
  }
  .gridbtns {
    display: none;
  }
}

.ba {
  transition: all 200ms;
  overflow: visible;
  margin: 10px;
}

.ba a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

.filetype {
  font-size: 80%;
  color: #222222;
  margin-left: 1%;
}

.context-menu {
  display: none;
  position: absolute;
}
#context-menu-list {
  background: #f0f0f091;
  box-shadow: 3px 3px 5px $black2;
  border: 1px solid $blue1;
  width: 150px;
  height: auto;
  line-height: 2em;
  cursor: pointer;
  transition: all 200ms;
  position: relative;
  top: 0;
  right: 0;
}
#context-menu-list ul {
  list-style: none;
  margin-left: -7%;
}
#context-menu-list:hover {
  background: rgba(255, 255, 255, 0.904);
  box-shadow: 14px 14px 5px $black2;
  top: 10px;
  right: 10px;
}
#context-menu-list ul li:hover {
  background: $blue1;
  color: white;
}
#context-menu-list ul li {
  border: 1px solid $blue1;
  color: $blue1;
  transition: all 200ms;
  padding: 5%;
  padding-left: 20px;
  margin: 10px;
  margin-left: -20px;
}
#context-menu-list ul li:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.548);
}
#download-form {
  display: none;
}

.menu1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  color: white;
  background: rgba(0, 0, 0, 0.561);
  display: none;
  z-index: 10;
}
.menu_block {
  position: relative;
  width: 400px;

  top: 30%;
  margin: auto;
  border-radius: 5px;
  background-color: $purple1;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.menu_block .btns p {
  margin-top: 0;
  padding: 10px;
  border-radius: 3px;
  transition: 200ms all;
  border: white 2px solid;
}

.menu_block .btns p:hover {
  background-color: white;
  color: $purple1;
}
.menu_input {
  height: 30px;
  width: 100%;
  outline: none;
  border-radius: 3px;
  border: none;
  padding-left: 10px;

  margin-top: 10px;
}

.hidden {
  display: none;
}

.accent_color {
  color: $colorPrimary;
}
