@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$colors: (
  white1: rgb(238, 238, 238),
  blue1: rgb(49, 114, 255),
  black1: #222222,
  black2: rgba(0, 0, 0, 0.548)
);

html,
body{
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

div{
  z-index: 1;
}
.top1{
  padding: 20px;
  font-size: 140%;
  font-weight: bold;
  padding-left: 40px;
}
.top2{
  background: map-get($map: $colors, $key: blue1);
  padding: 10px;
  color: white;
  display: grid;
  grid-template-columns: 10% 90%;
  
}
.top2 p{
  margin-left: 70px;
}

.icon {
  min-width: 40%;
  max-width: 50%;
  width: 50%;
}


.button {
  color: map-get($map: $colors, $key: blue1);
  border: 2px solid white;
  transition: all 200ms;
  background: white;
  height: 40px;
  width: 100px;
  border-radius: 7px;
}
.top2_btns, .button{
  margin: auto;
}

.button:hover {
  color: map-get($map: $colors, $key: white1);
  background-color: map-get($map: $colors, $key: blue1);
  border: 2px solid white;
}
.button:active{
;
}
.button:focus{
  outline: none;
}

.middle{
  display:grid;
  grid-template-columns: 1fr 3fr;
 
}
.middle2 {
  border: 2px solid rgba(69, 113, 255, 0.281);
  display: grid;
  font-size: 90%;
}
.ba{
  margin: 3%;
  transition: all 200ms;
position: relative;
right: 0;
top:0;

}
.ba:hover{
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.548);
  background: rgba(128, 0, 128, 0.664);
  color: white;
  right: 4px;
  top:4px
}
.ba img{
  opacity: 0.8;
  transition: 200ms all;
}
.ba:hover img{
  opacity: 1;
}
.ba_new{
  background: black;
}
@media (max-width: 4000px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 2000px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1800px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1600px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1400px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  }
}

@media (max-width: 1200px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }
}

@media (max-width: 1000px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  }
  .ba {
    padding: 2%;}
}

@media (max-width: 800px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


@media (max-width: 600px) {
  .middle2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .middle{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .link img{
    display: block;
  margin-left: auto;
  margin-right: auto 
  }
  .middle2 {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 250px) {
  .middle2 {
    grid-template-columns: 1fr;
  }
  .middle{
    grid-template-columns: 1fr;
  }
}

.ba {
  padding: 5%;
  transition: all 200ms;
  overflow: visible;
}

.ba a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

.filetype {
  font-size: 80%;
  color: #222222;
  margin-left: 1%;
}

.context-menu {
  display: none;
  position: absolute;
}
#context-menu-list {
  background: #f0f0f091;
  box-shadow: 3px 3px 5px map-get($colors, black2);
  border: 1px solid map-get($colors, blue1);
  width: 150px;
  height: auto;
  line-height: 2em;
  cursor: pointer;
  transition: all 200ms;
  position: relative;
  top: 0;
  right: 0;
}
#context-menu-list ul {
  list-style: none;
  margin-left: -7%;
}
#context-menu-list:hover{
  background: rgba(255, 255, 255, 0.904);
  box-shadow: 14px 14px 5px map-get($colors, black2);;
  top: 10px;
  right: 10px;
}
#context-menu-list ul li:hover {
  background: map-get($colors, blue1);
  color: white;
}
#context-menu-list ul li {
  border: 1px solid map-get($colors, blue1);
  color: map-get($colors, blue1);
  transition: all 200ms;
  padding: 5%;
  padding-left: 20px;
  margin: 10px;
  margin-left: -20px;
 
}
#context-menu-list ul li:hover{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.548);
}
#download-form {
  display: none;
}

.menu1{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 padding: 20%;
  color: white;
  background: rgba(29, 29, 29, 0.779);
  display: none;
  z-index: 10;
}
.menu1 .btns p{
  border: white 1px solid;
  padding: 1%;
  width: auto;
  max-width: 10%;
  transition: 200ms all
}
.menu1 .btns p:hover{
  background: white;
  color: black;
}
.menu1 #menu1text1 {
  margin: 2%;
}


.hidden{display:none}