{% extends "/login/base.html" %}

{% block content %}
<form action="/signup" method="POST">

    <h2>Create a new Account</h2>


    <div class="inputs">



        <input type="text" class="input textbox" name="username" placeholder="Enter a username" required />
        <input type="text" class="input textbox" name="email" placeholder="Enter your email" required />


        <input type="password" class="input textbox" name="password" placeholder="Password" required />
        <input type="password" class="input textbox" name="password2" placeholder="Confirm Password" required />


        <input type="submit" value="Create" class="button" />

    </div>
</form>










{% endblock %}

{% block alternative_link %}
<a href="/login" class="signup">Already have an account? Login</a>
{% endblock %}