<html>

{% include "/path/global/head.html" %}

<body id="body">
    <div class="top">
        <div class="top1">
            <span class="accent_color">Xen</span> Cloud Storage
        </div>
        <div class="top2">
            <div class="topbtns">
              


            </div>
            <p> Home{{currentfold2.replace("/"," > ")}}</p>
            <div class="error">
                {{get_flashed_messages(category_filter=["error"])}}

            </div>
        </div>

    </div>

    <div class="middle">
        <div class="middle1">
          <div class="buttons">
              <p>Something</p>
            <p id="uploadbtn" class="button2">Upload</p>
          </div>
          <div class="home_dirs">
           
            <input
            type="text"
            class="input textbox"
            placeholder="Search"
          />

            <div class="folder" id="home">Home Directory </div>
            <script>
                home = document.getElementById("home")

                home.addEventListener("click", function () {

                    window.location = '/path?location={{currentfold22}}'
                    menu = document.getElementsByClassName('context-menu')[0]
                    menu.style.display = 'none'
                });

            </script>
          
            {% for a in range(0, number_of_files2) %}

            <div class="folder" id="folder{{a}}">

                <a class="link">
                    {% if filetype2[a] == "folder" %}
                    <img src="static/images/folder-blue-icon.png" alt="folder icon" class="icon2">
                    {%else%}
                    <img src="static/images/file-icon.png" alt="file icon" class="icon2">
                    {% endif %}
                    <span class="filename22" id="filename22{{a}}">{{filename12[a]}}</span>
                    <script>
                        width = document.getElementById("body").offsetWidth
                        if (width < 951) {
                            document.getElementById("filename22{{a}}").innerText = "{{filename22[a]}}"
                        }
                    </script>
                </a>
                <script>
                    folder = document.getElementById("folder{{a}}")

                    folder.addEventListener("click", function () {

                        window.location = '/path?location={{currentfold22+ "/" +filename21[a]}}'
                        menu = document.getElementsByClassName('context-menu')[0]
                        menu.style.display = 'none'
                    });

                </script>
            </div>


            {% endfor %}


</div>
        </div>

        <div class="middle2">

            <div class="folders foldersall">
                <script>
                    filename = []
                </script>
                {% for a in range(0, number_of_files) %}
                <div class="ba" id="ba{{a}}">
                    <script>
                        function clicking() {
                            var filename = document.getElementsByClassName("filename")
                            var ba = document.getElementsByClassName('ba')
                            // var filetype = document.getElementsByClassName('filetype')

                            for (var i = 0, len = filename.length; i < len; i++) {
                                filename[i].style.color = "#3D3D3D"
                                ba[i].style.background = "white"
                                // filetype[i].style.color = "#222222"
                            }
                        }
                        ba = document.getElementById('ba{{a}}');
                        width = document.getElementById("body").offsetWidth
                        ba.addEventListener("click", function () {

                            window.location = '/path?location={{currentfold2+ "/" +filename[a]}}'
                            menu = document.getElementsByClassName('context-menu')[0]
                            menu.style.display = 'none'
                        });



                        ba.addEventListener("mouseover", function (ev) {

                            clicking();
                            ba = document.getElementById('ba{{a}}');
                            filetype = document.getElementById('filetype{{a}}')
                            filename = document.getElementById('filename{{a}}');
                            ba.style.background = '#5d4bea';
                            // filetype.style.color = '#f0f0f0';
                            filename.style.color = '#FFFFFF';

                        })
                        ba.addEventListener("mouseout", function (ev) {

                            clicking()

                        })
                        ba.addEventListener("dblclick", function () {
                            window.location = '/path?location={{currentfold2+ "/" +filename[a]}}'
                        })
                        filename.push('{{filename[a]}}')
                        ba.addEventListener('contextmenu', function (ev) {
                            ev.preventDefault();

                            menu.style.display = 'block'
                            menu.style.left = ev.pageX + 'px'
                            menu.style.top = ev.pageY + 'px'
                            filename3 = '{{filename[a]}}'
                            document.getElementById('download_name').value = filename3
                            document.getElementById('download_form').action = '/download/{{filename[a]}}';
                            document.getElementById('download_dir').value = '{{currentfold2}}';


                            return false;
                        }, false);


                    </script>


                    <a class="link">
                        {% if filetype[a] == "folder" %}
                        <img src="static/images/folder-blue-icon.png" alt="folder icon" class="icon">
                        {%else%}
                        <img src="static/images/file-icon.png" alt="file icon" class="icon">
                        {% endif %}
                        <p class="filename" id="filename{{a}}">{{filename1[a]}}</p>
                        <script>
                            width = document.getElementById("body").offsetWidth
                            if (width < 951) {
                                document.getElementById("filename{{a}}").innerText = "{{filename2[a]}}"
                            }
                        </script>
                        <!-- <p class="filetype" id="filetype{{a}}">{{filetype1[a]}}</p> -->
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>


        <div class="menu1" id="menu1">
            <div class="menu_block">
            <form action="/htmltopython" method="POST">


                <h2 id="menu1h2"></h2>
                <p id="menu1p"></p>
                <span id="menu1text1"></span><input type="text" id="menu1text2" class="menu_input" name="menu1text2"><br>
                <div class="btns">
                    <p id="menu1btn1">Button 1</p>
                  
                    <p id="menu1cancel">Cancel</p>
                </div>
                <input type="text" id="htmltopython" name="htmltopython" style="display: none">
                <input type="text" id="currentdir1" value="{{currentfold2}}" name="currentdir1" style="display: none">
                <input type="submit" id="actionsubmit" style="display: none">


            </form>

        </div>
        </div>

        <div class="context-menu">
            <div id="context-menu-list">
                <ul>
                    <li id="new-folder">New folder</li>
                    <li id="uploadbtn2">Upload</li>
                    <li id="delete">Delete</li>
                    <li id="download-btn">Download</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="hidden">

        <form method="POST" id="download_form">
            <input type="text" value="{{currentfold2}}" name="download_name" id="download_name">
            <input type="text" value="{{currentfold2}}" name="download_dir" id="download_dir">
            <input type="submit" id="download_submit">
        </form>




        <form action="/upload" method="POST" enctype="multipart/form-data" id="upload-form">
            <input id="file-picker" type="file" name="_file" multiple>

            <input type="text" value="{{currentfold2}}" name="currentfold2">
            <input type="submit">
        </form>

    </div>
</body>
<script src="/static/main/main.js">



</script>

</html>