$colorPrimary: #2CD889;
$colorPrimaryDark: #001064;
$colorPrimaryLight: #5f5fc4;
$colorAccent: #ff1744;

html,
body {
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  
}

img{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    image-rendering: optimizeSpeed;
    
}
.a {
    display: grid;
  grid-template-columns: 3fr 2fr;
}
.accent_text{
    color: $colorPrimary;
}

.main{
    text-align: center;
    margin: 60px;
    margin-top: 100px;
}
.hint{
    color: #646D82;
}
.button{
    background-color: $colorPrimary;
    padding: 13px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 100%;
    border: 2px $colorPrimary solid;
    transition: all 200ms;
    cursor: pointer;
    backdrop-filter: blur(10px);
    margin-top: 15px;

}

.button:hover{
background-color: white;
color: $colorPrimary;
}

.input {
    background: none;
    border: none;
    outline: none;
     border: 1px solid #08080828;
    border-bottom: 2px solid $colorPrimary;
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    backdrop-filter: blur(10px);
    box-shadow: -5px 3px 10px 1px rgba(0, 0, 0, 0.39);
    padding: 10px;
    padding-left: 15px;
    transition: all 200ms;
    margin-top: 15px;
  
}

.input:hover{
    box-shadow: -6px 4px 7px 1px rgba(0, 0, 0, 0.39);
}

form{

    margin-top: 100px;
}