<html>

<head>
    <title>Xen Login</title>
    <link rel="stylesheet" href="static/login.css">
</head>

<body>
    <div class="a">
        <div class="aa">
            <header>
                <h2>Xen Login</h2>
            </header>
        </div>
        <div class="ab">

        </div>
    </div>
    <div class="b">
        <form action="/login" method="POST">
            <div class="login">
                <div class="login-screen">
                    <div class="login-form">
                        <div class="control-group">
                            <p>Username</p>
                            <input type="text" class="input textbox" value="" placeholder="" name="username">

                            <div class="control-group">
                                <p>Password</p>
                                <input type="password" class="input textbox" value="" placeholder="" name="password">
                                <input type="submit" value="Log in" class="button input">

                            </div>
                        </div>
                    </div>
        </form>
        </div>
        <div class="c">

        </div>
</body>

</html>