<html>

<head>
    <title>Xen Register</title>
    <link rel="stylesheet" href="static/login/login.css">
</head>

<body>
    <div id="bg"></div>
    <div class="a">
        <div class="aa">
            <header>
                <h2>Xen Register</h2>
            </header>
        </div>
        <div class="ab">

        </div>
    </div>
    <div class="b">
        <form action="/register" method="POST">


            <p>Username</p>
            <input type="text" class="input textbox" name="username">


            <p>Password</p>
            <input type="password" class="input textbox" name="password">

            <input type="submit" value="Register" class="button input">

        </form>
        <a href="/Login" class="register">Login</a>
    </div>
    <div class="c">

    </div>
</body>

</html>