<html>

<head>
    <title>Xen FTP image viewer</title>
    <link rel="stylesheet" href="static/image-style/image.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html, body{
            margin:0;
            padding:0; 
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }
        .b {
            position: absolute;
            width: 100%;
            height: 100vh;
            background-color: #222222;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div class="a"></div>

    <div class="b"><a><img src="data:image/png;base64,{{imagecontents}}" id='img' alt="" onclick=changeimagesisize()>
    </div>

    <div class="c"></div>
</body>
<script>

</script>

</html>