<html>

<head>
    <title>Xen Login</title>
    <link rel="stylesheet" href="static/login/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="bg"></div>
    <div class="a">
        <div class="aa">
            <header>
                <h2>Xen Login</h2>
            </header>
        </div>
        <div class="ab">

        </div>
    </div>
    <div class="b">
        <form action="/login" method="POST">


            <p>Username</p>
            <input type="text" class="input textbox" name="username">


            <p>Password</p>
            <input type="password" class="input textbox" name="password">

            <input type="submit" value="Log in" class="button input">

        </form>
        <a href="/register">Register</a>
    </div>
    <div class="c">

    </div>
</body>

</html>