<html>

<head>
    <title>Xen Login</title>
    <link rel="stylesheet" href="static/login/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="bg"></div>
    <div class="head">
        <h2>Xen Register</h2>
    </div>
    <div class="middle">
        <h2>Login</h2>
        <form action="/login" method="POST">

    
            <p><span class="inputname"> Username or Email</span><br>
                <input type="text" class="input textbox" name="username" onchange="TestOnTextChange(this)">
            </p>
            <br>
        
            <p><span class="inputname">Password</span><br>
                <input type="password" class="input textbox" name="password"  onchange="TestOnTextChange(this)">
            </p><br>
             <br><br>
            <input type="submit" value="Register" class="button input">

        </form>

        <script src="/static/login/login.js"></script>

        <br>
        <a href="/Login" class="register">Already have an account? Login in</a>
    </div>

</body>

</html>