{% extends "login_register_base.html" %}


{% block content %}
<div class="middle">
    <h2>Login</h2>
    <form action="/login" method="POST">


        <p><span class="inputname">Username or Email</span><br>
            <input type="text" class="input textbox" name="username" required>
        </p>
        <br>

        <p><span class="inputname">Password</span><br>
            <input type="password" class="input textbox" name="password" required>
        </p><br>
    
        <input type="submit" value="Login" class="button input">

    </form>



    <br>
    <a href="/sign_up" class="sign_up">Don't have an account? Sign up</a>
</div>

{% endblock %}