<html>

<head>
    <title>Xen Register</title>
    <link rel="stylesheet" href="static/login/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="bg"></div>
    <div class="head">
        <h2>Xen Register</h2>
    </div>
    <div class="middle">
        <h2>Register</h2>
        <form action="/register" method="POST">
           
            <p><span class="inputname"> Username </span><br>
                <input type="text" class="input textbox" name="username" onchange="TestOnTextChange(this)">
            </p>
            <br>
            <p><span class="inputname">Email</span><br>
                <input type="text" class="input textbox"  onchange="TestOnTextChange(this)" name="email">
            </p><br>
            <p><span class="inputname">Password</span><br>
                <input type="password" class="input textbox" name="password"  onchange="TestOnTextChange(this)">
            </p><br>
            <p><span class="inputname">Confirm Password</span><br>
                <input type="password" class="input textbox" name="password2"  onchange="TestOnTextChange(this)">
            </p> <br><br>
            <input type="submit" value="Register" class="button input">

        </form>
        <script src="/static/login/login.js"></script>


    </div>
    <a href="/Login" class="register">Already have an account? Login in</a>

</body>

</html>